@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body {
    width: 100%;
    height: 100%;
  }
body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.6rem;
    color: hsl(192, 100%, 9%);
}
.head-container{
    max-width: 135rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
.try{
    padding: 1rem 5rem;
    border: 2px solid hsl(321, 100%, 78%) ;
    font-size: 1.4rem;
    text-decoration: none;
    color: hsl(321, 100%, 78%) ;
    border-radius: 3.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.logo{
    width: 15%;
}
.hero{
    max-width: 120rem;
    margin: 7rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-content{
        margin:  0 0 10rem;
}
.hero-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}
.hero-content p{
    padding: 2.2rem 35rem 3rem;
    color: #333;
    line-height: 1.6;
}
.hero-btn{
    padding: 1.2rem 5rem;
    background-color: hsl(322, 100%, 66%);
    text-decoration: none;
    color: #fff;
    border-radius: 3.2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.hero-img img {
    width: 90%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    gap: 50.8rem;
    text-align: left;
    line-height: 1.8;
    margin-top:15rem;
}
.statistics h1{
    font-size: 5.4rem;
    font-family: 'Poppins', sans-serif;

}

.statistics span{
    color: #555;
}
.statistics.right span{
    margin-left: 2.6rem;
}
.community{
    width: 28px;
    height: 28px;
    color: hsl(322, 100%, 66%) ;
}
.grid{
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12.8rem;
    color: #fff;
    padding: 5rem 20rem;


}
.company p{
    padding-right: 25rem;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-top: 2rem;
}
.flex-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.6rem 0;
}
.media-icons{
    margin-top: 3.4rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.media-icons ion-icon{
    font-size: 3.2rem;
}
.footer-svg{
    display: block;
}
.footer-logo{
    filter: brightness(0) invert(1);
    width: 35%;
}
.newsletter h4{
    letter-spacing: 0.75px;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}
.newsletter p{
    padding-right: 25rem;
    line-height: 1.6;
    font-size: 1.4rem;
    margin: 2.2rem 0;
}
.white-space{
    padding: 1rem 7rem 1rem 1rem;
    outline: none;
    border-radius: 0.5rem;
    border: 0;
}
button{
    padding: 0.8rem 4rem;
    margin-left: 1.8rem;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 0.5rem;
}
.footer-btn{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;    
}
.up-svg{
    display: block;
}
.b-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    margin-bottom: 1.2rem;
}
.b-content p{
    line-height: 1.8;
    padding-right: 11rem;
}
.container-b{
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 12.8rem;
   
}
.b-img{
    text-align: right;
}
.b-img img{
    width: 70%;
    
}
.container-a{
    background-color: #F5FAFF;
}
.container-c{
    margin: 7rem 0;
}
.b-img.c{
    text-align: left;
}
.build{
    margin: 10rem 0;
}
.container-community{
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0;
}
.container-community h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    margin-bottom: 3rem;
}